@model CardDtoStackId


<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2 class="text-primary">Practice with flash cards</h2>

        </div>
        <div class="col-6 d-flex justify-content-end">
            <a asp-controller="stack" asp-action="stack" class="btn btn-secondary me-3">
                Back to stacks
            </a>
            <a asp-controller="card" asp-action="Create" asp-route-id="@Model.StackId" class="btn btn-primary">
                Create a new card
            </a>
        </div>
    </div>
    <div class="row pt-4 pb-3">
        <div class="col-12 text-end">
            <a asp-controller="ReviewSession" asp-action="Index" asp-route-Id="@Model.StackId" class="btn btn-primary">
                Practice
            </a>
            
        </div>
    </div>

</div>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th></th>
            <th>
                Id
            </th>

            <th>
                Question
            </th>
            <th>
                Answer
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (CardDto cards in Model.CardDto)
        {
            <tr>
                <td>
                    <form asp-action="delete" method="post">
                        <input type="hidden" name="CardId" value="@cards.CardId" />
                        <button class="btn btn-primary btn-danger">X</button>
                    </form>
                </td>
           
                <td>
                    @cards.DisplayCardId
                </td>
                <td>
                    @cards.Question
                </td>

                <td>
                    @cards.Answer
                </td>
            </tr>
        }
    </tbody>

</table> 

